@import url(style.css);

/* Style Hero Section */

.hero-container {
  padding: 5rem 1rem 1.5rem;
  width: 100vw;
  height: 100%;
}

.hero-container .hero-content {
  display: flex;
  flex-wrap: wrap;
}

.hero-container .hero-content .hero-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero-container .hero-content .hero-content-left .title {
  width: 35rem;
  margin-bottom: 1.7rem;
  line-height: 1.3;
  color: var(--black-color);
  font-family: var(--font-poppins);
  font-size: 2.1rem;
  font-weight: var(--fw-bold);
}

.hero-container .hero-content .hero-content-left .title span {
  color: var(--secondary-color);
}

.hero-container .hero-content .hero-content-left .hero-navigation .hero-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-size: 0.95rem;
  font-weight: var(--fw-medium);
}

.hero-container .hero-content .hero-content-right {
  width: 50%;
  padding-right: 1rem;
}

.hero-container .hero-content .hero-content-right .image-container {
  display: flex;
  justify-content: end;
  margin-left: auto;
  width: 37rem;
  height: 25rem;
  border-radius: 50%;
  overflow: hidden;
}

/* Style News Section */

.news-container {
  padding: 1.5rem 1rem;
}

.news-container .news-header {
  margin-bottom: 1rem;
}

.news-container .news-header .title {
  color: var(--black-color);
  font-family: var(--font-poppins);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  text-align: center;
}

.news-container .news-body .news-body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.news-container .news-body .news-body-content .news-card {
  max-width: 20rem;
  background-color: rgba(45, 67, 86, 0.04);
}

.news-container .news-body .news-body-content .news-card .news-card-header .news-image {
  height: 14rem;
}

.news-container .news-body .news-body-content .news-card .news-card-body {
  padding: 0.7rem;
}

.news-container .news-body .news-body-content .news-card .news-card-body .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  max-height: 3.188rem;
  min-height: 3.188rem;
  margin-bottom: 0.5rem;
  line-height: 1.563rem;
  color: var(--black-color);
  font-family: var(--font-poppins);
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
  overflow: hidden;
  transition: 0.3s;
}

.news-container .news-body .news-body-content .news-card:hover .news-card-body .title {
  color: var(--primary-color);
}

.news-container .news-body .news-body-content .news-card .news-card-body .desc {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  color: rgba(45, 67, 86, 0.6);
  font-family: var(--font-poppins);
  font-size: 0.75rem;
  font-weight: var(--fw-medium);
  overflow: hidden;
}

.news-container .news-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.news-container .news-footer .more-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-size: 0.9rem;
  font-weight: var(--fw-semibold);
}

/* Style Maps Section */

.maps-container {
  max-width: calc(100vw - 3rem);
  height: 100%;
  margin: 0 auto;
  user-select: none;
}

.maps-container .maps-header {
  margin-bottom: 0.5rem;
}

.maps-container .maps-header .title {
  color: var(--black-color);
  font-family: var(--font-poppins);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  text-align: center;
}

.maps-container .maps-header .title span {
  display: inline-block;
  padding: 0.3rem 1rem;
  background-color: var(--secondary-color);
  border-radius: 0.25rem;
  color: var(--white-color);
  font-size: 1.3rem;
}

.maps-container .maps-body {
  position: relative;
  overflow-x: scroll;
}

.maps-container .maps-body .maps-info-card {
  position: absolute;
  padding: 1rem;
  background-color: var(--black-color);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.maps-container .maps-body .maps-info-card.show {
  opacity: 1;
  pointer-events: auto;
}

.maps-container .maps-body .maps-info-card .location {
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: var(--fw-semibold);
}

.maps-container .maps-body .maps-info-card .info {
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: var(--fw-semibold);
}

.maps-container .maps-body .maps-info-card .year {
  margin-top: 1rem;
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-size: 0.9rem;
  font-weight: var(--fw-semibold);
}

.maps-container .maps-body {
  position: relative;
  z-index: 1;
  height: 41rem;
  overflow: hidden;
  background-color: #1b6b93;
}

.maps-container .maps-body #map {
  position: absolute;
  top: -10rem;
  z-index: -1;
  display: block;
  max-width: calc(100vw - 3rem);
  height: 100%;
  margin: 0 auto;
}

.maps-container .maps-body .range-info-card {
  position: absolute;
  top: 50%;
  left: 1rem;
  padding: 1rem;
  background-color: var(--black-color);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
}

.maps-container .maps-body .range-info-card .range-info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.maps-container .maps-body .range-info-card .range-info-item:not(:last-child) {
  margin-bottom: 1rem;
}

.maps-container .maps-body .range-info-card .range-info-item .range-info-color {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.maps-container .maps-body .range-info-card .range-info-item:nth-child(1) .range-info-color {
  background-color: #fee0d2;
}

.maps-container .maps-body .range-info-card .range-info-item:nth-child(2) .range-info-color {
  background-color: #fc9272;
}

.maps-container .maps-body .range-info-card .range-info-item:nth-child(3) .range-info-color {
  background-color: #de2d26;
}

.maps-container .maps-body .range-info-card .range-info-item .range {
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-size: 0.95rem;
  font-weight: var(--fw-medium);
}

#state-borders {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/* Style Chart Section */

.chart-container {
  padding: 1.5rem 1rem;
}

.chart-container .chart-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.chart-container .chart-content .pie-chart-container {
  width: 50%;
  height: 27rem;
  display: flex;
  justify-content: center;
}

.chart-container .chart-content .bar-chart-container {
  width: 50%;
  height: 27rem;
  display: flex;
  align-items: center;
}

.info-container {
  max-width: calc(100vw - 3rem);
  height: 100%;
  margin: 3rem auto 5rem;
  padding: 1rem 1rem;
  user-select: none;
  border: 1px solid var(--black-color);
  border-radius: 0.25rem;
  font-style: italic;
}

.info-container .info {
  color: var(--black-color);
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  text-align: center;
}

.info-container .info span {
  color: var(--primary-color);
  font-size: 2rem;
}

/* Scroll Section */

.scroll-top-container {
  position: fixed;
  right: 1rem;
  bottom: -100%;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.scroll-top-container.show {
  bottom: 1rem;
}

.scroll-top-container .scroll-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.scroll-top-container .scroll-button .icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Media Queries */

@media only screen and (max-width: 1190px) {
  .hero-container .hero-content .hero-content-left {
    width: 100%;
    margin-bottom: 1.3rem;
  }

  .hero-container .hero-content .hero-content-left .title {
    width: 50rem;
    margin: 0 auto 1rem;
    text-align: center;
  }

  .hero-container .hero-content .hero-content-left .hero-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-container .hero-content .hero-content-right {
    width: 100%;
    padding-right: 0;
  }

  .hero-container .hero-content .hero-content-right .image-container {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .hero-container .hero-content .hero-content-left .title {
    width: 100%;
  }

  .chart-container .chart-content .pie-chart-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .chart-container .chart-content .bar-chart-container {
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .maps-container .maps-header {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero-container .hero-content .hero-content-left .title {
    width: 100%;
    font-size: 1.7rem;
  }

  .hero-container .hero-content .hero-content-right .image-container {
    width: 100%;
    height: 10rem;
  }

  .maps-container .maps-body {
    height: 23rem;
  }

  .chart-container .chart-content .pie-chart-container {
    height: max-content;
    padding: 1rem 0;
  }

  .chart-container .chart-content .bar-chart-container {
    height: max-content;
    padding: 1rem 0;
  }
}
